Checks: '
    *,
    -*-avoid-c-arrays,
    -*-braces-around-statements,
    -*-non-private-member-variables-in-classes,
    -*-statically-constructed-objects,
    -*-vararg,
    -altera-id-dependent-backward-branch,
    -altera-unroll-loops,
    -altera-struct-pack-align,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-special-member-functions,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-overloaded-operator,
    -google-explicit-constructor,
    -google-readability-casting,
    -google-runtime-int,
    -hicpp-explicit-conversions,
    -hicpp-named-parameter,
    -hicpp-signed-bitwise,
    -hicpp-special-member-functions,
    -llvm-header-guard,
    -llvmlibc*,
    -misc-no-recursion,
    -modernize-use-trailing-return-type,
    -performance-no-automatic-move,
    -readability-function-cognitive-complexity,
    -readability-named-parameter,
    '

FormatStyle: file

CheckOptions:
    readability-identifier-naming.AbstractClassCase: "CamelCase"
    readability-identifier-naming.ClassCase: "CamelCase"
    readability-identifier-naming.EnumCase: "CamelCase"
    readability-identifier-naming.EnumConstantCase: "UPPER_CASE"
    readability-identifier-naming.FunctionCase: "camelBack"
    readability-identifier-naming.MemberCase: "camelBack"
    readability-identifier-naming.MethodCase: "camelBack"
    readability-identifier-naming.NamespaceCase: "CamelCase"
    readability-identifier-naming.ParameterCase: "camelBack"
    readability-identifier-naming.PrivateMemberPrefix: "_"
    readability-identifier-naming.PrivateMethodPrefix: "_"
    readability-identifier-naming.ProtectedMemberPrefix: "_"
    readability-identifier-naming.ProtectedMethodPrefix: "_"
    readability-identifier-naming.StructCase: "CamelCase"
    readability-identifier-naming.TemplateParameterCase: "CamelCase"
    readability-identifier-naming.TemplateTemplateParameterSuffix: "Type"
    readability-identifier-naming.TypeAliasCase: "CamelCase"
    readability-identifier-naming.TypedefCase: "CamelCase"
    readability-identifier-naming.TypeTemplateParameterSuffix: "Type"
    readability-identifier-naming.ValueTemplateParameterSuffix: "Type"
    readability-identifier-naming.VariableCase: "camelBack"
